.App {
  text-align: center;
}

html, body {
  height: 100%;
}

header{
  text-align: left;
  margin-left: 200px;
  padding-left: 25px;
  color:white;
}
header p{
  font-size: 20px;
  font-weight: 700;
}
.leftbar{
  text-align: center;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2f3137;
    overflow-x: hidden;
    color: white;
    padding-top: 20px;
}

.leftbar .credits{
  font-size: 10px;
  position: absolute;
  opacity: .4;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: white;
}

.leftbar h1{
  margin-bottom: 10px;
}

.title p{
  font-size: 12px;
  margin-bottom: 25px;
}

.title img{
  width: 25px;
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
}

body{
  background-color: #37393e;
}

main{
  border-top-style: solid;
  border-top:1px solid grey;
  border-bottom: 1px solid grey;
  margin-left: 200px;
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.message {
  position: relative;
  display: flex;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px;
}

.message-wrapper{
  width: 100%;
}
.message-wrapper :hover{
  background-color: #242529;
}

form input{
  width: 85%;
  height: 50px;
  padding: 8px 12px;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  background: #40444b;
  color: rgb(255, 255, 255);
}

form{
  margin: 8px;
  margin-left: 120px;
  width: 100%;
  border-top: 1px solid grey;
  padding: 20px;
}

.form-container{
  position: fixed;
  bottom: -2px;
  width: calc(100% - 200px);
  height: 120px;
}

form button{
  width: 100px;
    height: 50px;
    background-color: #00a2ff;
    color: #fff;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 8px 0 8px 10px;
}

.message-details{
  position: relative;
  color: white;
  font-size: 12px;
  padding: 0 12px;
  text-align: left;
}

.username{
  font-weight: 700;
  margin-bottom: -10px;
  color: #ffc400;
}

.userInfo img {
  width: 40px;
  height: auto;
  border-radius: 50%;
}

.signout{
  position: absolute;
  top: 20px;
  right: 10px;
}